.sl_footer td, .sl_footer td a, .sl_footer td a:link, .sl_footer td a:hover, .sl_footer td a:active, .sl_footer td a:visited {
	font-weight:normal;
	font-size:10px;
}
#sl_div a.storelocatorlink {
	color:blue;
}
.sl_footer {
	background-color:black;
	padding:0px;
	border:0px black solid;
	color: #222;
}
.sl_footer a {
	color:#666;
	font-weight:bold;
	border:0px black solid;
	padding-left:5px;
}
.searchResultsTable td {
	line-height:12px;
	font-family: Verdana;
	font-size:10px;
	text-align:left;
}
.sl_header img, .sl_header td, .sl_header #addressSubmit {
border: none;
}
.sl_header td {
	vertical-align:top;
	text-align:left;
}